django
djangorestframework
django-cors-headers
pymongo
mongoengine
python-dotenv
cryptography
djangorestframework-simplejwt
django-rest-framework-mongoengine
gunicorn
whitenoise
dj-database-url
dnspython
certifi
